
.homepage{
    display: grid;
    place-items: center;
}
.homepage h1{
    font-family:"Allura",Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-size: 9rem;
    color: black;
    text-align: center;
}
.homepage img{
    max-width: 600px;
}
.homepage p{
    padding-top: 20px;
    font-family: "MartelSans",Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-size: 1.2rem;
    color: var(--dark-grey);
    letter-spacing: 5px;
}