.our-story{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 350px 1fr;
    gap: 50px;
    margin: 50px;
    font-family: "MartelSans",Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
.story-container{
    background-color: var(--light-grey);
    grid-row: 1/-1;
    display: grid;
    height: 650px;
    width: 450px;
    justify-self: flex-end;
    font-size: 1.3rem;
    color: var(--light-color);
    padding: 40px;
    border-radius: 15px;

}
.story-container h1{
    font-family: "Allura",Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-size: 3rem;
}
.contact-container{
    background-color: var(--light-grey);
    color: var(--light-color);
    padding: 40px;
    border-radius: 15px;
    font-size: 1.1rem;
    max-width: 500px;
    max-height: 260px;
}
.contact-container .name{
    font-size: 2.5rem;
    font-family:"Allura",Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;

}
.our-story img{
    width: 500px;
    border-radius: 15px;
}