/* styles.css */
@font-face {
    font-family: 'Allura';
    src: url('./fonts/Allura-Regular.woff2') format('woff2'),
        url('./fonts/Allura-Regular.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'MartelSans';
    src: url('./fonts/MartelSans-Regular.woff2') format('woff2'),
        url('./fonts/MartelSans-Regular.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
:root{
    --dark-grey: #37353e;
    --light-grey: #44444e;
    --brown: #715A5A;
    --lighter-brown: #947878;
    --active-brown: #645151;
    --light-color: #D3DAD9;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--light-grey);
;
}
header{
    height: 80px;
    background-color: var(--dark-grey);
    display: grid;
    place-items: center;
}
header nav{
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
}
header button{
    width: 100px;
    height: 40px;
    font-family: "MartelSans",Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    background-color: var(--brown);
    border: none;
    color: var(--light-color);
    transition: all 0.5s ease;
}
header button:hover{
    background-color: var(--lighter-brown);
    transform: translateY(-4px);
    text-decoration: underline;
    box-shadow: 4px 4px 7px black;
}
header button:active{
    background-color: var(--active-brown);
    transform: translateY(-2px);
    text-decoration: underline;
    box-shadow: 2px 2px 5px black;

}